// sass --watch style.scss:style.min.css --style compressed

@import 'libraries/all.scss';

@import 'variables/variables.scss';

@import 'reset.scss';

@import 'utility/utility.scss';

@import 'components/all.scss';

@import 'page/all.scss';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cases {
    width: 10rem;
    text-align: center;
}

